.jihye-container {
  min-height: 100%;
  background-color: rgb(217, 253, 217);

  display: flex;
  align-items: center;
  justify-content: center;
}

.jihye-dice {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgb(0, 255, 102);
  padding: 120px;
  border-radius: 40px;
  transform: scale(0.9) rotate(30deg) translate(-6px, 0px)
    rotate3d(1, 1, 1, 30deg) skew(-15deg, 2deg);
  box-shadow: 30px 30px 46px 0px rgba(16, 32, 78, 0.1);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.jihye-number {
  color: aliceblue;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
}

.jihye-emoji {
  font-size: 60px;
}

.jihye-emoji-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
