.hyoni-playground-container {
  min-height: 100%;
  background-color: rgb(237, 201, 255);

  display: flex;
  align-items: center;
  justify-content: center;
}

.hyoni-dice {
  /* position: absolute; */
  top: 44px;
  left: 0;
  background: red;
  padding: 20px;
  border-radius: 20px;
  transform: scale(2) translate(5px, 0px) rotate(20deg) skew(5deg, -5deg);
  box-shadow: -20px 20px 25px 0px rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 160px;

  display: flex;
  flex-direction: column;
}

.hyoni-number {
  color: #84ac00;
  font-size: 16px;
  font-weight: 600;
}

.hyoni-emoji-container {
  /* background: beige; */
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hyoni-emoji {
  font-size: 100px;
}

.hyoni-background-filter {
  position: absolute;
  /* left: 0;
  top: 0; */
  width: 400px;
  height: 400px;
  border-radius: 30px;
  background-color: rgba(240, 248, 246, 0.29);
  z-index: 1;
  backdrop-filter: hue-rotate(100deg) blur(40px);

  display: none;
}

.hyoni-card-container {
  position: absolute;
  bottom: 80px;
}

.hyoni-card-container-1 {
  z-index: 1;
}

.hyoni-card-container-2 {
  z-index: 2;
}

.hyoni-card-container-3 {
  z-index: 3;
}
