.playground-container {
  min-height: 100%;
  background-color: palegreen;

  display: flex;
  align-items: center;
  justify-content: center;
}

.playground-text {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px soild black;

  display: flex;
  align-items: center;
  justify-content: center;
}
