.kohdesign-container {
  min-height: 100%;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.kohdesign-dice {
  position: absolute;
  padding: 100px;
  top: 0;
  left: 0;
  border-radius: 36px;
  transform: scale(1) skew(-21deg, -12deg) translate(10px)
    rotate3d(1, 10, 0, 45deg);
  box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.29);
}
.kohdesign-text {
  color: black;
  font-size: 40px;
  font-weight: bold;
}
.kohdesign-emoji-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.kohdesign-emoji {
  font-size: 80px;
}

.kohdesign-background-filter {
  position: absolute;
  width: 50%;
  height: 50%;
  background: rgba(50, 255, 255, 0.2);
  z-index: 1;
  backdrop-filter: blur(10px);
  display: none;
}
