.jinni-playground-container {
  min-height: 100%;
  background-color: #012d80;

  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.jinni-dice {
  position: absolute;
  top: 44px;
  left: 0;
  background: #cce314;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 18px 17px 18px 17px rgba(0, 0, 0, 0.3);
  width: 240px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.jinni-number {
  color: #012d80;
  font-weight: 900;
  font-size: 24px;
  font-weight: bold;
}

.jinni-emoji-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.jinni-emoji {
  font-size: 60px;
}

.jinni-background-filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  backdrop-filter: hue-rotate(120deg) blur(20px);
  box-shadow: 18px 17px 18px 17px rgba(0, 0, 0, 0.3);
  display: none;
}
